 # Предобработка данных¶

Рассчитайте конверсию визитов в покупки из рассылок и контекстной рекламы, 
сохраните значения в переменных email_conversion и context_conversion соответственно.

In [103]:
email_visits = 1000 # количество визитов из рассылок
context_visits = 2500 # количество визитов из контекстной рекламы
email_purchases = 50 # количество покупок из рассылок
context_purchases = 100 # количество покупок из контекстной рекламы

email_conversion = email_purchases/email_visits
context_conversion = context_purchases/context_visits
print('Конверсия рассылок: {:.0%}'.format(email_conversion)) 
print('Конверсия контекстной рекламы: {:.0%}'.format(context_conversion))

Конверсия рассылок: 5%
Конверсия контекстной рекламы: 4%

Продолжим автоматизировать труд маркетологов: научим Python сравнивать источники трафика и выбирать лучший. 
Если конверсия рассылок email_conversion больше конверсии контекстной рекламы context_conversion, выведите на экран: 'Вывод: рассылки эффективнее'. 
Если наоборот, то: 'Вывод: контекстная реклама эффективнее'.

In [104]:
if email_conversion > context_conversion:
    print('Вывод: рассылки эффективнее')
else:
    print('Вывод: контекстная реклама эффективнее')

Вывод: рассылки эффективнее

Вы уже умеете находить конверсию. Рассчитайте другую важную для бизнеса метрику — долю повторных покупателей.
В переменной total посчитайте общее количество покупателей: сложите число пользователей, совершивших одну покупку, с числом тех, кто совершил две и более.

In [105]:
first_purchase = 885 # количество пользователей, совершивших 1 покупку
repeated_purchase = 136 # количество пользователей, совершивших 2 и более покупок
total = first_purchase + repeated_purchase
print('Общее количество покупателей: {}'.format(total))

Общее количество покупателей: 1021

Посчитайте долю повторных покупок как отношение repeated_purchase к total.
Ответ положите в переменную repeated_purchase_part.
Результат выведите на экран так: 'Доля повторных покупок равна ...%'.
Процент отобразите в виде целого числа — с точностью ноль знаков после запятой.

In [106]:
repeated_purchase_part = repeated_purchase/total
print('Доля повторных покупок равна {:.0%}'.format(repeated_purchase_part))

Доля повторных покупок равна 13%

Вам прислали таблицу со статистикой первичных и повторных покупок по источникам трафика.
Прочитайте содержимое файла returned.csv и сохраните его в датафрейме purchases. 
Посчитайте общее число покупок для каждого источника трафика. 
Результат запишите в столбец 'total'. 
Выведите весь датафрейм на экран.
Путь к файлу: /datasets/returned.csv

In [107]:
import pandas as pd
purchases = pd.read_csv('returned.csv')
purchases['total'] = purchases['first'] + purchases['repeated'] 
purchases

    source  first  repeated  total
0  context   2933        96   3029
1    email    885       136   1021
2      smm   1653       139   1792

Для каждого источника трафика посчитайте долю повторных покупок — отношение количества повторных ко всем покупкам. 
Выведите весь датафрейм на экран.

In [108]:
purchases['repeated_share'] = purchases['repeated']/purchases['total'] 
purchases

    source  first  repeated  total  repeated_share
0  context   2933        96   3029        0.031694
1    email    885       136   1021        0.133203
2      smm   1653       139   1792        0.077567

Постройте рейтинг источников трафика по доле повторных покупок.
Отсортируйте датафрейм purchases по убыванию значений столбца 'repeated_share'. 
Выражение напишите в скобках функции print(), чтобы вывести результат на экран.

In [109]:
purchases = purchases.sort_values('repeated_share', ascending=False)
purchases

    source  first  repeated  total  repeated_share
1    email    885       136   1021        0.133203
2      smm   1653       139   1792        0.077567
0  context   2933        96   3029        0.031694

# User ID и куки
Куки содержат не только user ID пользователя, но и другую информацию. Например, языковые предпочтения, логин и пароль, посещённые разделы. Это улучшает опыт взаимодействия с сайтами: стриминговые платформы предлагают возобновить просмотр фильма с того момента, где вы остановились в прошлый раз, онлайн-переводчик запоминает целевой язык перевода, а соцсети не требуют заново логиниться при каждом посещении.

# Задание

Взгляните на присланную разработчиками таблицу. 
Она называется logs, так как в ней отражены логи — данные о посещениях сайта.
В таблице четыре столбца:
user_id — идентификатор пользователя;
email подписчика рассылки;
source;
purchase, факт покупки: со значением 1, если покупка состоялась, 0 — не состоялась.
Каждая строчка в таблице соответствует визиту на сайт. User ID, источник трафика и факт покупки можно получить из Яндекс.
Метрики, а адреса электронной почты — из базы тех, кто подписался на email-рассылку.
Когда к набору полученных определённым образом данных добавляют информацию из другого источника, это называется обогащение данных.
Прочтите содержимое файла logs.csv и сохраните его в датафрейме logs. Ознакомьтесь с данными, вызвав метод head().
Путь к файлу: /datasets/logs.csv

In [110]:
logs = pd.read_csv('logs.csv')
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

Оцените объём данных в таблице logs.

In [111]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    200000 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

Посчитайте количество уникальных email и уникальных User ID в таблице logs

In [112]:
unique_emails = logs['email'].unique()
unique_user_id = logs['user_id'].unique()

print('Уникальных email:', len(unique_emails))
print('Уникальных User ID:',len(unique_user_id))

Уникальных email: 6063
Уникальных User ID: 86571

Методом unique() определите, какие уникальные источники трафика есть в таблице. Результат выведите на экран.

In [113]:
source = logs['source'].unique()
print(source)

['other' 'email' 'context' 'None' 'undef']

# Вы обнаружили NaN и None
Методом isnull() найдём все строки с пропусками в столбце 
print(logs[logs['email'].isnull()].head())

Чтобы сосчитать строки без email-адресов, вызовем метод count():
print(logs[logs['email'].isnull()].count())

1.
Восстановите справедливость: верните Рону его факультет, заменив значение NaN на 'Гриффиндор' методом fillna(). Выведите на экран таблицу hogwarts_points.

In [114]:
import pandas as pd
hogwarts_points = pd.read_csv('hogwarts_points.csv')
hogwarts_points['faculty_name'] = hogwarts_points['faculty_name'].fillna('Гриффиндор')
print(hogwarts_points)

  faculty_name      student_name  points
0   Гриффиндор      Гарри Поттер      15
1     Слизерин      Драко Малфой      28
2    Когтевран    Полумна Лавгуд      10
3   Гриффиндор         Рон Уизли       5
4    Пуффендуй    Седрик Диггори      17
5   Гриффиндор  Невилл Долгопупс      12

2.
Измените код, чтобы результат приобрёл такой вид:
Сумма баллов учеников: # сумма значений столбца 'points'
Сумма баллов факультетов: # сумма баллов при группировке по факультетам
Кубок получает # название факультета

In [115]:
print('Сумма баллов учеников:', hogwarts_points['points'].sum())
hogwarts_points_sum = hogwarts_points.groupby('faculty_name')['points'].sum()
print('Сумма баллов факультетов:', hogwarts_points_sum.sum())
print('Кубок получает', hogwarts_points_sum.idxmax())

Сумма баллов учеников: 87
Сумма баллов факультетов: 87
Кубок получает Гриффиндор


3. Применим полученные в Хогвартсе знания к реальной задаче. Возьмём источники трафика Яндекс.Маркета и рассчитаем конверсию.
Найдите количество визитов из каждого источника трафика, результат сохраните в переменной visits и выведите на экран.

In [116]:
logs = pd.read_csv('logs.csv')
visits = logs.source.value_counts()
print(visits)

other      133834
context     52032
email       12279
None         1674
undef         181
Name: source, dtype: int64

4.
Посчитайте количество совершённых покупок для каждого источника трафика. 
Результат сохраните в переменной purchase и выведите на экран.

In [117]:
purchase = logs.groupby('source')['purchase'].sum()
print(purchase)

source
None        108
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

5.
Посчитайте конверсию по каждому источнику трафика, результат сохраните в переменной conversion и выведите на экран.

In [118]:
visits = logs.groupby('source')['user_id'].count() # количество визитов
purchase = logs.groupby('source')['purchase'].sum() # количество покупок

conversion = purchase/visits# поделите количество покупок на количество визитов
print(conversion)

source
None       0.064516
context    0.058214
email      0.074355
other      0.060082
undef      0.066298
dtype: float64

# Категориальные и количественные переменные

Способ работы с пропущенными значениями зависит от их типа. В датафрейме pandas столбцы могут содержать категориальные или количественные данные. Они соотносятся с типами переменных в статистике. Категориальная принимает одно значение из ограниченного набора, а количественная — любое числовое значение в диапазоне.
Категориальная переменная в Яндекс.Такси — это тариф: «Эконом», «Комфорт», «Комфорт+», «Бизнес», «Премиум», «Ультима», «Бизнес XL», «Минивэн» или «Детский». Количество тарифов ограничено, и клиенты выбирают один из них. Категориальная переменная может принимать и числовые значения: если вместо «Эконома» будет стоять цифра 1, а вместо «Комфорта» — 2, переменная всё равно останется категориальной.
А стоимость поездки будет количественной переменной. На определённом расстоянии она может принимать любое значение в диапазоне, допустим, от 200 до 600 рублей. Бывает и 250, и 300, и 428: зависит от спроса и наличия машин.
Важное свойство количественных переменных — возможность сравнения. Поездка за 420 рублей на 120 рублей дороже, чем поездка за 300 рублей. Категориальные переменные так не сравнить: если каждому тарифу присвоить номер от 1 до 9, нельзя сказать, что «Комфорт» больше «Эконома» на единицу.
В интернет-магазине категориальной переменной будет товар, количественной — его цена. Ещё есть логические (булевы) переменные: они указывают на истинность или ложность какого-либо события. Если событие истинно, то переменная принимает значение 1, соответствующее True, а если ложно — 0, соответствующий False. Участие клиента в программе лояльности — это логическая переменная

# Задание

1.
Выведите на экран первые пять строк таблицы logs. Определите, какой столбец соответствует логической переменной, и выведите его название на экран.

In [119]:
print(logs.head(5))
print('purchase')

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1
purchase

2. Перед вами список переменных из набора данных Яндекс.Маркета. Выведите на экран названия категориальных переменных.

In [120]:
variables = [
    "name",  # название товара
    "num_reviews",  # количество отзывов
    "manufacturer",  # производитель
    "medium_price",  # средняя цена
    "min_price",  # минимальная цена
    "max_price",  # максимальная цена
    "category",  # категория
    "color",  # цвет
    "reseller",  # продавец
    "has_discount",  # есть ли скидки?
]
print(variables [0], variables [2], variables [6], variables [7], variables [8])

name manufacturer category color reseller

3. Сервис бронирования личного жилья для отдыха хранит информацию о хозяевах. Выведите названия количественных переменных.

In [121]:
variables = [
    "host_name",  # имя хозяина жилья
    "city",  # город
    "zipcode",  # индекс
    "accommodates",  # количество гостей
    "bathroom",  # количество ванных комнат
    "bedrooms",  # количество спальных комнат
    "beds",  # количество кроватей
    "price",  # цена
]
print(variables[3:])

['accommodates', 'bathroom', 'bedrooms', 'beds', 'price']

4.
Данные новостного сервиса содержат информацию о действиях пользователей. Выведите названия категориальных переменных.

In [122]:
variables = [
    "user_id",  # id пользователя
    "news_type",  # тип новостного сообщения
    "event",  # вид события: клик, показ
    "tag",  # тема новостного сообщения
]

print(variables[:])

['user_id', 'news_type', 'event', 'tag']

5.
Краудфандинговый сервис хранит информацию о проектах. Выведите названия количественных переменных.

In [123]:
variables = [
    "project_id",  # id проекта
    "category",  # категория проекта
    "goal",  # сколько денег хотят собрать
    "pledged",  # сколько собрали
    "state",  # статус проекта
    "backers",  # количество человек, которые отправили деньги
]

print(variables[2], variables[3], variables[5])

goal pledged backers

# Работа с пропусками в категориальных переменных

Пропуски бывают трёх типов:
- Полностью случайные: если вероятность встретить пропуск не зависит ни от каких других значений. 
Таков пропуск пола Сансы Старк. Ответ на этот вопрос не зависит от характера самого вопроса и от других вопросов анкеты, 
а сам пропуск легко восстановить по имени.
- Случайные: если вероятность пропуска зависит от других значений в наборе данных, 
    но не от значений собственного столбца. Случайным пропуском будет пропуск рода Джона Сноу. 
    Пропущенное значение связано с тем, что рода Сноу не существует.
- Неслучайные: если вероятность пропуска зависит от других значений, в том числе и от значений собственного столбца.
    Это пропуск в политических намерениях Брана Старка: он не указал их нарочно, ведь умеет предвидеть будущее и не собирается сообщать о своих планах. Отсутствующее значение зависит как от характера вопроса, так и от особенности самого Брана Старка, то есть, значения переменной в другом столбце.
    
game_survey['family'] = game_survey['family'].fillna(value='')

Иногда пропуски в категориальных столбцах могут принимать не стандартное значение None без определённого типа (NoneType), а значение типа String: например, 'None' , '-' , 'Null'. В таких случаях метод fillna() не подойдёт — он работает только со значениями NaN или None. Для замены строковых значений вызывают метод loc, он осуществляет логическую индексацию — выбор значений по заданному условию. Логическая индексация позволяет найти в столбце значения 'None' или другие значения типа String и заменить их.

game_survey.loc[game_survey['gender'] == 'None', 'gender'] = 'женский'

# Работа с пропусками в категориальных переменных


1. В столбце email встречаются значения NaN — вместо электронных почт пользователей, не подписавшихся на рассылку магазина. Их электронный адрес вы вряд ли узнаете, и не сможете заполнить пропуски вручную. Да и самих NaN слишком много для ручной замены.
Тем не менее, избавиться от значений NaN можно, если заменить их единым значением. Например, пустой строкой. Так изучать таблицу будет проще: не нужно будет различать NaN и email-адрес.
Замените пропуски пустыми строками, используя знакомый метод fillna(). После этого преобразования выведите на экран первые 5 строк датафрейма.

In [124]:
logs['email'] = logs['email'].fillna(value='')
print(logs.head(5))

      user_id   source       email  purchase
0  7141786820    other                     0
1  5644686960    email  c129aa540a         0
2  1914055396  context                     0
3  4099355752    other                     0
4  6032477554  context                     1

2.
Пропуски в столбце source записаны в строковом формате — 'None' вместо None. Выясните, случайно ли их возникновение: проверьте, имеет ли каждая строка с источником 'None' определённый email.
Для этого примените к датафрейму logs два фильтра:
Источник source равен 'None';
Значение столбца email равно пустой строке ''
Выведите датафрейм после применения такого фильтра.

In [125]:
logs['email'] = logs['email'].fillna(value='')
filter_email = logs['email'] == ''
filter_source = logs['source'] == 'None'

print(logs.loc[filter_source & filter_email])

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []

3. Замените пропуски в строках с пустым значением source на значение 'email'. Проверьте результат методом value_counts().

In [126]:
logs['email'] = logs['email'].fillna(value='')
logs.loc[logs['source'] == 'None', 'source'] = 'email' 
print(logs['source'].value_counts())

other      133834
context     52032
email       13953
undef         181
Name: source, dtype: int64

4. Посчитайте количество визитов и покупок по источнику трафика ('source'). Вызовите метод agg.
Сохраните результат в переменной logs_grouped и выведите на экран

In [127]:
logs['email'] = logs['email'].fillna(value='')
logs.loc[logs['source'] == 'None', 'source'] = 'email'

logs_grouped = logs.groupby('source').agg({'purchase': ['count', 'sum']})
print(logs_grouped)

        purchase
           count   sum
source
context    52032  3029
email      13953  1021
other     133834  8041
undef        181    12

5.
Посчитайте конверсию визитов в покупки для каждого источника трафика (т. е. отношение столбца sum к count).
Сохраните результат в новый столбец logs_grouped['conversion'] и выведите обновлённую таблицу на экран.

In [128]:
logs_grouped['conversion'] = logs_grouped['purchase']['sum'] /logs_grouped['purchase']['count']
print(logs_grouped)

        purchase       conversion
           count   sum
source
context    52032  3029   0.058214
email      13953  1021   0.073174
other     133834  8041   0.060082
undef        181    12   0.066298

6.
У 'undef' всего 12 покупок. Эта категория на порядки отличается от своих более объёмных конкурентов, и сравнивать их некорректно. Объедините её с одной из «больших» категорий в данных, похожей на 'undef' своей конверсией. Замените значение источника 'undef' на 'other' и посчитайте конверсию в покупки для каждого источника трафика после замены. Выведите logs_grouped на экран.

In [129]:
logs['email'] = logs['email'].fillna(value='')
logs.loc[logs['source'] == 'None', 'source'] = 'email'
logs.loc[logs['source'] == 'undef', 'source'] = 'other' 
logs_grouped = logs.groupby('source').agg({'purchase': ['count', 'sum']})
logs_grouped['conversion'] = logs_grouped['purchase']['sum'] / logs_grouped['purchase']['count']
print(logs_grouped)

        purchase       conversion
           count   sum
source
context    52032  3029   0.058214
email      13953  1021   0.073174
other     134015  8053   0.060090

# Работа с пропусками в количественных переменных

- Время и возраст — количественные переменные. Пропуски в таких переменных заполняют характерными значениями. Это значения, характеризующие состояние выборки, — набора данных, выбранных для проведения исследования. Чтобы примерно оценить типичные значения выборки, годятся среднее арифметическое или медиана.
- Среднее арифметическое — это сумма всех значений, поделённая на количество значений.
Методом mean() применяют ко всей таблице, к отдельному столбцу или к сгруппированным данным.
data = [
    ['Гарри Поттер', 173],
    ['Гермиона Гренджер', 165],
    ['Полумна Лавгуд', 158],
    ['Рон Уизли', 173],
    ['Седрик Диггори', 185],
]

magician_stats = pd.DataFrame(data, columns=['student', 'height'])
print(magician_stats['height'].mean())
>>> 170.8

# Медиана
Медиана — это такое число в выборке, что ровно половина элементов больше него, а другая половина — меньше.
Для нахождения медианы есть специальный метод median(). Как и mean(), его можно применять к таблице, столбцу или сгруппированным данным.

1.
Прочитайте данные из файла metrica_data.csv. Результат сохраните в переменной metrica. Посчитайте средний возраст пользователей и сохраните его в переменной age_avg. Выведите результат на экран.
Путь к файлу: /datasets/metrica_data.csv

In [130]:
metrica = pd.read_csv('metrica_data.csv')
age_avg = metrica['age'].mean()
print(age_avg)

32.48966336969903


2.
Замените пропущенные значения в столбце age на средний возраст. Выведите на экран первые 10 строк набора данных.

In [131]:
age_avg = metrica['age'].mean()
metrica['age'] = metrica['age'].fillna(value=age_avg) 
print(metrica.head(10))

      user_id device_type        age    time
0  7141786820     desktop  33.000000  2127.0
1  5644686960      mobile  30.000000    35.0
2  1914055396     desktop  25.000000     NaN
3  4099355752     desktop  25.000000  2123.0
4  6032477554     desktop  27.000000    59.0
5  5872473344      mobile  27.000000     NaN
6  7977025176      mobile  32.489663     NaN
7  3512872755     desktop  40.000000    65.0
8  1827368713     desktop  37.000000     NaN
9  8688870165     desktop  36.000000  2124.0


3.
Найдите среднее время просмотра сайта и сохраните в переменной time_avg. Выведите результат на экран.

In [132]:
time_avg = metrica['time'].mean() #запишите среднее время просмотра 
print(time_avg)

1430.1294506106535

4.
Можно заменить время на среднее значение. Однако пользователи заходят в интернет то с мобильного устройства, то с компьютера. Учтём этот факт для повышения точности заполнения пропущенных данных о времени на сайте.
Выберите строки таблицы с данными о просмотрах с компьютера, т.е. такие, где в столбце 'device_type' указано значение 'desktop'. Сохраните результат в переменной desktop_data и выведите первые 5 строк на экран.

In [133]:
desktop_data = metrica.loc[metrica['device_type']=='desktop']
print(desktop_data.head(5))

      user_id device_type   age    time
0  7141786820     desktop  33.0  2127.0
2  1914055396     desktop  25.0     NaN
3  4099355752     desktop  25.0  2123.0
4  6032477554     desktop  27.0    59.0
7  3512872755     desktop  40.0    65.0

5.
Установите, сколько времени в среднем проводят на сайте пользователи настольных компьютеров. Результат сохраните в переменной desktop_data_time_avg. Закомментируйте вывод предыдущего задания и выведите значение desktop_data_time_avg на экран.

In [134]:
desktop_data_time_avg = desktop_data['time'].mean()
print(desktop_data_time_avg)

1741.8747158537378

6.
Получите таблицу с данными о просмотрах с мобильных платформ. Сохраните результат в переменной mobile_data и выведите первые 5 строк на экран.

In [135]:
mobile_data = metrica.loc[metrica['device_type']=='mobile']
print(mobile_data.head(5))
desktop_data = metrica.loc[metrica['device_type']=='desktop']
desktop_data_time_avg = desktop_data['time'].mean()

       user_id device_type        age  time
1   5644686960      mobile  30.000000  35.0
5   5872473344      mobile  27.000000   NaN
6   7977025176      mobile  32.489663   NaN
10  7172802697      mobile  30.000000   NaN
14  9312844109      mobile  32.489663  40.0

7.
Посчитайте среднее время пребывания на сайте пользователей мобильных платформ. Результат сохраните в переменной mobile_data_time_avg. Закомментируйте вывод предыдущего задания и выведите значение mobile_data_time_avg на экран.

In [136]:
mobile_data = metrica.loc[metrica['device_type']=='mobile']
#print(mobile_data.head(5))
mobile_data_time_avg = mobile_data['time'].mean()
print(mobile_data_time_avg)
desktop_data = metrica.loc[metrica['device_type']=='desktop']
desktop_data_time_avg = desktop_data['time'].mean()

41.15691239238949

# ЗАКЛЮЧЕНИЕ

Вы оценили эффективность источников трафика Яндекс.Маркета и определили выгодный канал привлечения с точки зрения повторных покупок.
Посмотрим на финальные значения:
email — 7,3%
other — 6%
context — 5,8%
Контекстная реклама и другие источники трафика показали примерно одинаковый результат. Стоит порекомендовать маркетологам проверить настройки контекстной рекламы, а также исследовать другие источники трафика и их метрики.
Вы изучили данные о поведении пользователей и выяснили, что они проводят на сайте больше времени, если зашли не с мобильного устройства, а с компьютера. Обратите внимание коллег и представьте вывод в отчёте о работе.

# Постановка задачи:
SEO-оптимизация (от англ. Search Engine Optimization, «оптимизация поисковых машин») — действия, направленные на повышение позиций сайта в результатах выдачи поисковых систем. Цель SEO-оптимизации — увеличение трафика из поисковиков на сайт и, как следствие, рост числа покупок.
Для разных запросов положение сайта может быть неодинаковым. Например, Яндекс.Практикум занимает первое место в поиске по запросу «стать аналитиком данных», в то время как по запросу «обучение фронтенд разработке» — третье.
ПОИСКОВЫЙ ЗАПРОС	МЕСТО В ВЫДАЧЕ ЯНДЕКСА В МАЕ 2019 ГОДА
Яндекс.Практикум	1
обучение фронтенд разработке	3
стать аналитиком данных	1
Место сайта в результатах поиска зависит от огромного количества факторов. Их делят на внутренние и внешние. Так, внутренние факторы — скорость загрузки и качество контента сайта. Важный внешний фактор — то, как часто сайт цитируют на других ресурсах, например, в СМИ и соцсетях.
Какие бы факторы ни исследовали SEO-оптимизаторы, они сначала спросят аналитика о текущем состоянии сайта. Вот и вам как специалисту поступила задача: «Определить, какие товарные категории и подкатегории на сайте представлены в поисковиках хуже всего. Времени в обрез».
Коллег подводить нельзя, начнём разбираться!

# Как читать файлы из Excel

Ранее мы встречались только с форматом .csv и методом read_csv(). Для прочтения файлов Excel есть особый метод read_excel(). Он похож на read_csv(), но в отличие от него, read_excel() нужно два аргумента: строка с именем самого файла или пути к нему, и имя листа sheet_name.

1. Методом read_excel() прочтите первый лист 'traffic_data' Выведите на экран первые 5 строк листа методом head(). Прочитайте названия столбцов:
subcategory_id — идентификатор товарной подкатегории, или её зашифрованное название;
source — источник трафика. В нашем случае источников два: прямой заход на сайт в таблице обозначен как direct, переход из поисковых систем — organic;
visits — количество визитов на страницу подкатегории за отчётный период.
Путь к файлу: /datasets/seo_data.xlsx

In [137]:
import pandas as pd
url = 'seo_data.xlsx'
data = pd.read_excel(url, sheet_name='traffic_data')
print(data.head(5))

  subcategory_id  source   visits
0     cf2e61c7af  direct   501166
1     0cd903d1cc  direct   126342
2     ef35bc88a7  direct  95626.3
3     6ff9f4014c  direct  75680.7
4     72bc238e4d  direct  64435.9

2. Пока в первых 5 строчках таблицы виден только один источник трафика direct. Проверьте, какие источники есть в столбце source. Выведите на экран список уникальных значений этого столбца.

In [138]:
print(data['source'].unique())

['direct' 'organic']

3. Методом read_excel() прочтите второй лист 'subcategory_ids' и сохраните его в переменной subcategory_dict. Выведите на экран его первые 5 строк методом head().
Обратите внимание на названия столбцов: к знакомым нам идентификаторам подкатегорий (subcategory_id) добавились идентификаторы категорий (category_id) и названия подкатегорий (subcategory_name).
Всё это похоже на словарь, где идентификаторам подкатегорий из цифр и латинских букв соответствуют понятные нам названия. Поэтому датафрейм называется subcategory_dict.

In [139]:
subcategory_dict = pd.read_excel(url, sheet_name='subcategory_ids')
print(subcategory_dict.head(5))

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643

4. Наконец, методом read_excel() прочтём третий лист category_ids и сохраним его в переменной category_dict. Выведите на экран первые 5 строк листа методом head().

In [140]:
category_dict = pd.read_excel(url, sheet_name='category_ids')
print(category_dict.head(5))

  category_id         category_name
0  09f279a643           Электроника
1  3509869a61  Компьютерная техника
2  09f279a643           Электроника
3  3509869a61  Компьютерная техника
4  09f279a643           Электроника

# Такие неидеальные данные

In [141]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB
None

# Перевод строковых значений в числа
Собрать все строки да сделать их числами! Для этого есть стандартный метод Pandas — to_numeric(). Он превращает значения столбца в числовой тип float64 (вещественное число).
transactions['amount'] = pd.to_numeric(transactions['amount'])
У метода to_numeric() есть параметр errors. От значений, принимаемых errors, зависят действия to_numeric при встрече с некорректным значением:
- errors='raise' — дефолтное поведение: при встрече с некорректным значением выдаётся ошибка, операция перевода в числа прерывается;
- errors='coerce' — некорректные значения принудительно заменяются на NaN;
- errors='ignore' — некорректные значения игнорируются, но остаются.
transactions['amount'] = pd.to_numeric(transactions['amount'], errors='coerce') 
Методом to_numeric() мы не только превратим строки в числовой тип там, где это возможно, но и выясним, на каких значениях метод не работает.
Особенность метода to_numeric() в том, что при переводе все числа будут иметь тип данных float. Это подходит далеко не всем значениям. Но есть и хорошие новости: в нужный тип значения переводят методом astype(). Например, аргумент ('int') метода astype() означает, что значение нужно перевести в целое число:

1.
Переведите значения столбца 'id' из строк в числа методом to_numeric().

In [142]:
transactions = pd.read_excel('ids.xlsx')
#transactions['id'] = pd.to_numeric(transactions['id']) 
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49 non-null     object
 1   category  49 non-null     object
 2   amount    49 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

2.
Попробуйте ещё раз перевести значения столбца 'id' из строк в числа методом to_numeric(), но уже со значением 'coerce' параметра errors. Это заменит вызывающий ошибку Null на NaN.
Полученную таблицу выведите на экран методом tail(): так как ошибка возникает на последней строке, 5 значений с конца будет достаточно.

In [143]:
transactions['id'] = pd.to_numeric(transactions['id'], errors='coerce')
print(transactions.tail(5))

              id category   amount
44  6.007483e+11        A  8958.23
45  6.007483e+11        C  12771.1
46  6.007483e+11        E  9630.56
47  6.007483e+11     Null     Null
48           NaN        A  14327.2

3.
Вызовите метод info() после преобразований ещё раз. Проверьте, повлияла ли работа pd.to_numeric(transactions['id'], errors='coerce') на тип значений в столбце id.

In [144]:
transactions['id'] = pd.to_numeric(transactions['id'], errors='coerce')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48 non-null     float64
 1   category  49 non-null     object
 2   amount    49 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

4.
Методом to_numeric() превратите значения столбца amount в числа, заменив некорректные значения на NaN. Проверьте результаты преобразований методом info().

In [145]:
transactions['id'] = pd.to_numeric(transactions['id'], errors='coerce')
transactions['amount'] = pd.to_numeric(transactions['amount'], errors='coerce')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48 non-null     float64
 1   category  49 non-null     object
 2   amount    45 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

5.
Посчитайте общую стоимость проданных товаров — сумму значений столбца amount в датафрейме transactions. Результат выведите на экран.

In [146]:
print(transactions['amount'].sum())

596107.1

6.
Рассчитайте сумму продаж для каждой категории. Для этого сгруппируйте датафрейм transactions по столбцу category и примените метод sum() к столбцу amount. Выведите результат на экран.

In [147]:
print( transactions.groupby('category')['amount'].sum())

category
A       133988.50
B       168617.89
C       173332.50
D        62630.82
E        57537.39
Null         0.00
Name: amount, dtype: float64

7.
Вернитесь к таблице с трафиком: вы сможете найти сумму визитов.
Раньше вместо неё получались склеенные названия категорий, а столбец visits определялся как строковый (тип object).
Переведите значения столбца visits датафрейма data в числовой тип методом to_numeric().

In [149]:
data = pd.read_excel('seo_data.xlsx', sheet_name='traffic_data')
#data['visits'] = pd.to_numeric(data['visits'])
#ValueError: Unable to parse string ""2369468""

8.
Узнайте, что не так со строкой 964. Вызовите знакомый из вводного курса метод loc.
Он позволяет обращаться к датафрейму по значению индекса, в нашем случае как раз по номеру строки.

In [151]:
print(data.loc[964])

subcategory_id        total
source               direct
visits            "2369468"
Name: 964, dtype: object

9.
Вычислите, сколько всего строк в датафрейме и выведите на экран в формате:
Количество строк: 1000
Затем выведите на экран строки, которые имеют значение 'total' в столбце 'subcategory_id'. Изучите полученные результаты: сколько строк портят весь датасет?

In [153]:
print('Количество строк:', data.shape[0])
print(data.query('subcategory_id == "total"'))

Количество строк: 1930
     subcategory_id   source     visits
964           total   direct  "2369468"
1929          total  organic  "5687882"

10.
Оставьте в датафрейме только строки, удовлетворяющие условию data['subcategory_id'] != 'total'. Проверьте результат: выведите на экран датафрейм с условием data['subcategory_id'] == 'total'.

In [154]:
data = data.query('subcategory_id != "total"')
print(data.query('subcategory_id == "total"'))

Empty DataFrame
Columns: [subcategory_id, source, visits]
Index: []

11.
Измените тип данных в столбце ['visits'] на integer. Проверьте полученный результат, вызвав метод info().

In [155]:
ata = data[(data['subcategory_id'] != 'total')]
data['visits'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 0 to 1928
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1928 non-null   object
 1   source          1928 non-null   object
 2   visits          1928 non-null   object
dtypes: object(3)
memory usage: 60.2+ KB

12.
Сгруппируйте данные по источникам и вычислите количество визитов для каждого источника. Выведите результат на экран.

In [156]:
data = data[(data['subcategory_id'] != 'total')]
data['visits'] = data['visits'].astype('int')
print(data.groupby('source')['visits'].sum())

source
direct     2368980
organic    5687407
Name: visits, dtype: int64

# Методы Pandas для работы с датой и временем

Методом to_datetime() превратим содержимое этого столбца в понятные для Python даты.
Для этого строку форматируют, обращаясь к специальной системе обозначений, где:
- %d — день месяца (от 01 до 31)
- %m — номер месяца (от 01 до 12)
- %Y — четырёхзначный номер года (например, 2019)
- Z — стандартный разделитель даты и времени
- %H — номер часа в 24-часовом формате
- %M — минуты (от 00 до 59)
- %S — секунды (от 00 до 59)
Преобразуем формат даты 01.04.2019Z11:03:00 из первой строчки датафрейма:
Сначала номер дня месяца. В соответствии с таблицей форматов заменяем его на %d: %d.04.2019Z11:03:00
Далее точка (ее оставляем без изменений), потом номер месяца: %m: %d.%m.2019Z11:03:00
После четырёхзначный номер года, заменяем 2019 на %Y: %d.%m.%YZ11:03:00
Букву Z оставляем без изменений: %d.%m.%YZ11:03:00
Номер часа в 24-часовом формате заменим на %H: %d.%m.%YZ%H:03:00
Количество минут обозначим %M: %d.%m.%YZ%H:%M:00
Завершим форматирование обозначением секунд %S: %d.%m.%YZ%H:%M:%S

У новых столбцов тип данных datetime64. Можно добавить эти значения в исходные столбцы и работать с датами.
Среди самых разнообразных способов представления даты и времени особое место занимает формат unix time. Его идея проста — это количество секунд, прошедших с 00:00:00 1 января 1970 года. Время unix соответствует Всемирному координированному времени, или UTC.

# Это интересно: почему UTC называется так?
По-английски о всемирном координированном времени сказали бы так: Coordinated Universal Time: CUT. По-французски эта же мысль будет выражена по-другому: Temps Universel Coordonné: TUC. Чтобы ни французам, ни англичанам не было обидно, выбрали нейтральный вариант: UTC.
В формате unix time дата и время хранятся в виде целого числа, увеличивающегося с каждой прошедшей секундой. Отсюда преимущества формата:
хранение даты и времени в виде целого числа экономит место на диске;
с датами-числами легко проводить арифметические операции;
даты, записанные в виде целого числа, удобно принимать за единый формат.
Метод to_datetime() работает и с форматом unix time. Первый аргумент — это столбец со временем в формате unix time, второй аргумент unit со значением 's' сообщит о том, что нужно перевести время в привычный формат с точностью до секунды.
Часто приходится исследовать статистику по месяцам: например, узнать, на сколько минут сотрудник опаздывал в среднем. Чтобы осуществить такой расчёт, нужно поместить время в класс DatetimeIndex и применить к нему атрибут month:
arrivals['month'] = pd.DatetimeIndex(arrivals['date']).month

1. Прочитайте файл с данными о позиции в поисковой выдаче за 3 месяца. Выведите первые 15 строк на экран.

In [158]:
position = pd.read_csv('position.csv')
print(position.head(15))

              timestamp  level   page_id
0   2019-02-04T13:22:34      1  6ukoNykP
1   2019-02-06T15:30:54      1  Q62R1Ue7
2   2019-02-08T14:53:45      1  GmfSxgPs
3   2019-02-10T16:50:22      2  M56OK96C
4   2019-02-12T14:16:28      1  q2fqVqPc
5   2019-02-14T15:10:45      1  LioXfSPk
6   2019-02-16T14:52:23      3  bQXWpQ2z
7   2019-02-18T15:45:33      2  gsFVGOTy
8   2019-02-20T16:35:12      3  zVuiSTm1
9   2019-02-22T15:52:27      1  kuULtbnm
10  2019-02-24T12:39:30      2  MKDhBt9L
11  2019-02-26T12:45:10      3  FEgRztcr
12  2019-03-04T15:34:46      4  OUBWQSCl
13  2019-03-06T14:20:57      5  6YeTUHgm
14  2019-03-08T12:34:43      6  zlrBrZ0d

2.
Просмотрите общую информацию о данных.

In [159]:
position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     object
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.0+ KB

3.
Обработайте данные о времени в столбце 'timestamp': переведите их из строкового типа в datetime64. Разделителем даты и времени назначьте заглавную латинскую T. Выведите на экран первые 5 строк таблицы position.

In [160]:
position['timestamp'] = pd.to_datetime(
    position['timestamp'], format='%Y-%m-%dT%H:%M:%S'
)
print(position.head(5))

            timestamp  level   page_id
0 2019-02-04 13:22:34      1  6ukoNykP
1 2019-02-06 15:30:54      1  Q62R1Ue7
2 2019-02-08 14:53:45      1  GmfSxgPs
3 2019-02-10 16:50:22      2  M56OK96C
4 2019-02-12 14:16:28      1  q2fqVqPc

4.
Проверьте изменение типа данных с object на datetime64.

In [161]:
position['timestamp'] = pd.to_datetime(position['timestamp'], format='%Y-%m-%dT%H:%M:%S')
position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     datetime64[ns]
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.0+ KB

5.
Отсортируйте таблицу position по столбцу 'level' в порядке убывания и выведите на экран.
Сохранять отсортированную таблицу не нужно.

In [162]:
print(position.sort_values(by = 'level', ascending=False))

             timestamp  level   page_id
22 2019-03-24 13:49:22      9  WklxK6k4
38 2019-04-27 12:48:14      8  5VRryKr6
35 2019-04-21 14:40:17      8  JvTMAbs7
30 2019-04-11 13:39:15      8  9mL07Mjl
21 2019-03-22 16:36:19      8  s24ZIat3
15 2019-03-10 13:12:57      7  Vih5ARKA
34 2019-04-19 15:43:24      7  MSHZViNg
31 2019-04-13 12:13:26      7  ILfc3WmK
29 2019-04-09 14:57:20      7  SfnhoGh6
27 2019-04-05 14:51:38      7  7JKRCdPA
20 2019-03-20 15:53:36      7  VkTjZ6co
37 2019-04-25 16:10:50      6  clLGJ4g3
33 2019-04-17 16:54:17      6  JjIZd3Jy
28 2019-04-07 16:29:58      6  bsORIc79
24 2019-03-28 15:28:17      6  aQdvnaZX
19 2019-03-18 16:47:36      6  057NPKXX
14 2019-03-08 12:34:43      6  zlrBrZ0d
18 2019-03-16 16:18:34      5  zPH6tQwc
36 2019-04-23 13:17:19      5  6KVLFFQF
13 2019-03-06 14:20:57      5  6YeTUHgm
23 2019-03-26 15:50:31      5  p4Ofo5uP
25 2019-04-01 13:43:49      5  7UCXvXJu
32 2019-04-15 12:28:54      5  sCKAcOTN
12 2019-03-04 15:34:46      4  OUBWQSCl
17 2019-03-14 12:46:19      4  g4si3TQ8
16 2019-03-12 15:33:28      3  Y3wTtqaJ
6  2019-02-16 14:52:23      3  bQXWpQ2z
11 2019-02-26 12:45:10      3  FEgRztcr
8  2019-02-20 16:35:12      3  zVuiSTm1
3  2019-02-10 16:50:22      2  M56OK96C
10 2019-02-24 12:39:30      2  MKDhBt9L
7  2019-02-18 15:45:33      2  gsFVGOTy
26 2019-04-03 15:12:15      2  NJ1D9dAt
9  2019-02-22 15:52:27      1  kuULtbnm
5  2019-02-14 15:10:45      1  LioXfSPk
4  2019-02-12 14:16:28      1  q2fqVqPc
1  2019-02-06 15:30:54      1  Q62R1Ue7
2  2019-02-08 14:53:45      1  GmfSxgPs
0  2019-02-04 13:22:34      1  6ukoNykP

6.
Добавьте столбец 'month' в таблицу position с номером месяца. Выведите на экран первые 5 строк таблицы position

In [163]:
position['month'] = pd.DatetimeIndex(position['timestamp']).month
print(position.head(5))

            timestamp  level   page_id  month
0 2019-02-04 13:22:34      1  6ukoNykP      2
1 2019-02-06 15:30:54      1  Q62R1Ue7      2
2 2019-02-08 14:53:45      1  GmfSxgPs      2
3 2019-02-10 16:50:22      2  M56OK96C      2
4 2019-02-12 14:16:28      1  q2fqVqPc      2

7.
Сгруппируйте данные по столбцу 'month' и найдите среднюю позицию в выдаче по месяцам (level). Результат группировки выведите на экран.

In [164]:
position['month'] = pd.DatetimeIndex(position['timestamp']).month
print(position.groupby('month')['level'].mean())

month
2    1.750000
3    5.769231
4    6.214286
Name: level, dtype: float64

# Обработка ошибок: try-except

Выгружая данные из разных систем, готовьтесь к сюрпризам
Некорректный формат приводит к невыполнению кода. Говорят, что «код падает с ошибкой». Здесь вы уже опытны: например, если числа в наборе данных вдруг стали строками, умеете вызвать метод to_numeric();
Ошибки в данных встречаются ближе к концу файла, и код на строках с неверными значениями не выполняется. Значит, пропадают расчёты для предыдущих, «безошибочных» строк;

Данные могут поменяться. К примеру, в выгрузку для бухгалтерии с появлением нового контрагента могут проникнуть некорректные данные, из-за которых код упадёт.

К сожалению, предсказать все потенциальные ошибки невозможно. Но и останавливать работу кода всякий раз, когда он спотыкается о некорректное значение, нельзя.

Для работы с непредсказуемым поведением данных есть конструкция try-except. Принцип работы такой: исходный код помещают в блок try. Если при выполнении кода из блока try возникнет ошибка, воспроизведётся код из блока except.
Заведомо напишем код с ошибкой:
a = 1
b = 0
print(a / b) #распечатаем на экране результат деления на ноль
print ('Кстати, хорошего дня') #заодно пожелаем хорошего дня 
# ZeroDivisionError: division by zero #ошибка, делить на ноль нельзя 

Python вернул ошибку ZeroDivisionError: division by zero. Код упал, и пожелание хорошего дня после строки с ошибкой не напечаталось.
Проделаем то же самое, но уже с конструкцией try-except:
a = 1
b = 0
try:
    print(a / b)
except:
    print('Проверьте значения параметров a и b')
print('Кстати, хорошего дня') 
Проверьте значения параметров a и b

Кстати, хорошего дня 
Не в силах выполнить команду в блоке try, код не падает с ошибкой. Вместо этого выполняется команда из блока except, а следом за ней и оставшиеся команды. Как ни в чём не бывало.

1.
Формат выгрузки часто согласуют заранее: это помогает избежать проблем с некорректными данными. Вот и вам разработчики прислали формат на согласование: позиция сайта в выдаче на конкретную дату.
Напишите цикл, подсчитывающий количество строк в данных. Результат выведите на экран.

In [166]:
position = [
    ['2019-05-01', '6'],
    ['2019-05-02', '5'],
    ['2019-05-03', '5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', '4'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]
count_lines = 0
for row in position:
    count_lines += 1
print(count_lines)

10

2.
Найдите среднюю позицию в выдаче за прошедший период. Результат выведите на экран.

In [167]:
count_lines = 0
total_position = 0

for row in position:
    count_lines += 1
    level = int(row[1])
    total_position += level
print(total_position/count_lines)

4.4

3.
Формат поставки статистики согласован. Разработчики прислали финальную выгрузку, где в данных появились проблемы: отрицательные значения, пробелы и даже ошибки.
Посчитайте среднюю позицию в выдаче и нажмите «Выполнить код».

In [168]:
count_lines = 0
total_position = 0

for row in position:
    count_lines += 1
    level = int(row[1])
    total_position += level
print(total_position/count_lines)

4.4

4.
Примените конструкцию try-except и обработайте ошибки, мешающие решению задачи. Создайте переменную wrong_lines для подсчета некорректных строк и в except посчитайте их количество. Выведите на экран общее количество строк и количество некорректных строк в формате:
Количество измерений ...
Количество некорректных строк ...

In [171]:
position = [
    ['2019-05-01', '- 6'],
    ['2019-05-02', '+5'],
    ['2019-05-03', ' 5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', 'Error 5'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3']]
    
count_lines = 0
total_position = 0
wrong_lines = 0
for row in position:
    count_lines += 1
    try:         
        level = int(row[1])
        total_position += level
    except:
        wrong_lines += 1
        
print('Количество измерений', count_lines)
print('Количество некорректных строк', wrong_lines)

Количество измерений 10
Количество некорректных строк 2

5.
Полезно знать не только сколько ошибок, но и где они. Добавьте возможность записывать строки с ошибками в список. Выведите на экран общее количество строк и список некорректных строк в формате:
Количество измерений ...
Некорректные строки ...

In [172]:
total_position = 0
count_lines = 0
wrong_lines_content = []

for row in position:
    try:
        count_lines += 1
        level = int(row[1])
        total_position += level
    except:
        wrong_lines_content.append(row)
print('Количество измерений', count_lines)
print('Некорректные строки', wrong_lines_content)

Количество измерений 10
Некорректные строки [['2019-05-01', '- 6'], ['2019-05-08', 'Error 5']]

# Метод merge()

Данные хранят в Excel-таблице из нескольких листов. Как смотреть на категории, подкатегории и трафик в одном месте? Идея — склеить таблицы!
Объединим несколько таблиц в одну методом merge()).
merge() применяют к таблице, к которой присоединяют другую. У метода следующие аргументы:
right — имя DataFrame или Series, присоединяемого к исходной таблице
on — название общего списка в двух соединяемых таблицах: по нему происходит слияние
how — чьи id включать в итоговую таблицу. Аргумент how может принять значение left: тогда в итоговую таблицу будут включены id из левой таблицы. Аргумент right включает id из правой таблицы.

1.
Объедините самостоятельно таблицы subcategory_dict и data. Результат сохраните в переменной data_subcategory и выведите на экран первые 10 строк новой таблицы.

In [173]:
data = pd.read_excel('seo_data.xlsx', sheet_name='traffic_data')
subcategory_dict = pd.read_excel('seo_data.xlsx', sheet_name='subcategory_ids')
data_subcategory = data.merge(subcategory_dict, on='subcategory_id', how='left')
print(data_subcategory.head(10))

  subcategory_id  source   visits                subcategory_name category_id
0     cf2e61c7af  direct   501166              Мобильные телефоны  09f279a643
1     0cd903d1cc  direct   126342                        Ноутбуки  3509869a61
2     ef35bc88a7  direct  95626.3                      Телевизоры  09f279a643
3     6ff9f4014c  direct  75680.7                        Планшеты  3509869a61
4     72bc238e4d  direct  64435.9  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685  direct  39638.2                            Шины  65922fa39c
6     179bfacf4a  direct  31007.5           Умные часы и браслеты  09f279a643
7     b0fb8f259a  direct  30324.1                        Мониторы  3509869a61
8     3c67eb2d90  direct  25878.8                   Наручные часы  6074ad29ac
9     24e6c815c6  direct  25276.4  Лекарственные препараты и БАДы  10a493e03b

2.
Объедините таблицы data_subcategory и category_dict. Результат сохраните в переменной data_final и выведите на экран первые 10 строк новой таблицы.

In [174]:
data = pd.read_excel('seo_data.xlsx', sheet_name='traffic_data')
subcategory_dict = pd.read_excel('seo_data.xlsx', sheet_name='subcategory_ids')
category_dict = pd.read_excel('seo_data.xlsx', sheet_name='category_ids')
data_subcategory = data.merge(subcategory_dict, on='subcategory_id', how='left')

data_final = data_subcategory.merge(category_dict, on='category_id', how='left')
print(data_final.head(10))

  subcategory_id  source  visits    subcategory_name category_id category_name
0     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
1     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
2     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
3     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
4     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
5     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
6     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
7     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
8     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника
9     cf2e61c7af  direct  501166  Мобильные телефоны  09f279a643   Электроника

# Сводные таблицы

Сводная таблица — ваш помощник для обобщения данных и их наглядного представления.

В Pandas для подготовки сводных таблиц вызывают метод pivot_table().
Аргументы метода:
index — столбец или столбцы, по которым группируют данные (название товара)
columns — столбец, по значениям которого происходит группировка (даты)
values — значения, по которым мы хотим увидеть сводную таблицу (количество проданного товара)
aggfunc — функция, применяемая к значениям (сумма товаров)

Сделаем по ней сводную таблицу методом pivot_table():
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
print(data_pivot.head(10)) 

Как видно, основная категория включает в себя подкатегорию и это представлено в структуре датафрейма: категория отображена иерархически главной над подкатегорией. Такие датафреймы содержат в себе мультииндекс. Часто при работе с такими датафреймами мультииндекс убирают, чтобы категория была отображена на каждой строчке датафрейма:
data_pivot_with_reset_index = data_pivot.reset_index()
print(data_pivot_with_reset_index.head(10))

1.
Самостоятельно создайте сводную таблицу для набора data_final. Результат сохраните в переменной data_pivot и выведите первых 10 значений на экран.

In [175]:
data_final = pd.read_csv('data_final.csv')
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
print(data_pivot.head(10))

source                                    direct  organic
category_name subcategory_name
Авто          Автоакустика                  5915    15433
              Автомагнитолы                 7783    18690
              Автомобильные инверторы        145      150
              Автомобильные компрессоры      407      790
              Автомобильные телевизоры       975     2246
              Автомобильные холодильники     204      285
              Автосигнализации               494     1026
              Аккумуляторные батареи        1175     2657
              Антифризы                      736     1568
              Багажники, рейлинги            342      664


2.
Создайте в таблице data_pivot новый столбец 'ratio' и сохраните в нём значение отношения органического трафика 'organic' к прямому 'direct'. Выведите первые 10 строк таблицы на экран.

In [176]:
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
data_pivot['ratio'] = data_pivot['organic']/data_pivot['direct']
print(data_pivot.head(10))

source                                    direct  organic     ratio
category_name subcategory_name
Авто          Автоакустика                  5915    15433  2.609129
              Автомагнитолы                 7783    18690  2.401388
              Автомобильные инверторы        145      150  1.034483
              Автомобильные компрессоры      407      790  1.941032
              Автомобильные телевизоры       975     2246  2.303590
              Автомобильные холодильники     204      285  1.397059
              Автосигнализации               494     1026  2.076923
              Аккумуляторные батареи        1175     2657  2.261277
              Антифризы                      736     1568  2.130435
              Багажники, рейлинги            342      664  1.941520

3.
Отсортируйте таблицу по столбцу 'ratio' в порядке убывания. Выведите первые 10 строк.
Отсортированную таблицу сохранять не нужно.

In [177]:
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
data_pivot['ratio'] = data_pivot['organic'] / data_pivot['direct']
print(data_pivot.sort_values( by = 'ratio', ascending=False).head(10))

source                                                     direct  organic  \
category_name          subcategory_name
Авто                   Шины                                 39638   153859
Бытовая техника        Стиральные машины                    22064    64570
Спорт и отдых          Велосипеды                           16009    46087
Детские товары         Коляски                              18079    52005
Строительство и ремонт Сварочные аппараты                    6175    17325
Товары для дома        Компьютерные кресла                   6208    17407
Компьютерная техника   Клавиатуры                            6224    17417
Электроника            Универсальные внешние аккумуляторы    6146    17115
                       TV-тюнеры                             6275    17427
Бытовая техника        Холодильники                         20920    57985

source                                                        ratio
category_name          subcategory_name
Авто                   Шины                                3.881604
Бытовая техника        Стиральные машины                   2.926487
Спорт и отдых          Велосипеды                          2.878818
Детские товары         Коляски                             2.876542
Строительство и ремонт Сварочные аппараты                  2.805668
Товары для дома        Компьютерные кресла                 2.803963
Компьютерная техника   Клавиатуры                          2.798361
Электроника            Универсальные внешние аккумуляторы  2.784738
                       TV-тюнеры                           2.777211
Бытовая техника        Холодильники                        2.771750

4.
Отсортируйте таблицу по столбцу 'ratio' в порядке убывания. Выведите последние 10 значений.
Отсортированную таблицу сохранять не нужно.

In [178]:
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
data_pivot['ratio'] = data_pivot['organic'] / data_pivot['direct']
print(data_pivot.sort_values( by = 'ratio', ascending=False).tail(10))

source                                                  direct  organic  \
category_name              subcategory_name
Строительство и ремонт     Душевые поддоны                  90       26
Товары для красоты         Кисти, спонжи и аппликаторы      96       27
Продукты                   Макароны                         86       24
Детские товары             Играем в салон красоты           88       24
Спорт и отдых              Гребные тренажеры                89       24
Детские товары             Блокноты                         79       21
Строительство и ремонт     Проволока                        76       15
Одежда, обувь и аксессуары Термобелье                       67       13
Авто                       Наклейки, шильдики и значки      50        9
Детские товары             Гигиена полости рта              27        4

source                                                     ratio
category_name              subcategory_name
Строительство и ремонт     Душевые поддоны              0.288889
Товары для красоты         Кисти, спонжи и аппликаторы  0.281250
Продукты                   Макароны                     0.279070
Детские товары             Играем в салон красоты       0.272727
Спорт и отдых              Гребные тренажеры            0.269663
Детские товары             Блокноты                     0.265823
Строительство и ремонт     Проволока                    0.197368
Одежда, обувь и аксессуары Термобелье                   0.194030
Авто                       Наклейки, шильдики и значки  0.180000
Детские товары             Гигиена полости рта          0.148148

5.
Отсортируйте таблицу по столбцу 'ratio' в порядке убывания и выведите последние 10 записей, где прямой трафик больше 1000. Выражение напишите в скобках функции print(), чтобы результат напечатался на экран.

In [179]:
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')
data_pivot['ratio'] = data_pivot['organic'] / data_pivot['direct']
print(data_pivot[data_pivot['direct'] > 1000].sort_values( by = 'ratio', ascending=False).tail(10))

source                                                       direct  organic  \
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины    1536     3215
Товары для дома            Компьютерные и письменные столы     1999     4177
                           Люстры                              2016     4209
Строительство и ремонт     Дисковые пилы                       2040     4255
                           Воздушные компрессоры               1690     3520
Товары для здоровья        Бандажи и ортезы                    1659     3453
Строительство и ремонт     Нивелиры и лазерные уровни          1651     3436
Электроника                Защитные пленки и стекла            1560     3246
Одежда, обувь и аксессуары Туфли                               1035     2096
                           Сапоги                              1008     2021

source                                                          ratio
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины  2.093099
Товары для дома            Компьютерные и письменные столы   2.089545
                           Люстры                            2.087798
Строительство и ремонт     Дисковые пилы                     2.085784
                           Воздушные компрессоры             2.082840
Товары для здоровья        Бандажи и ортезы                  2.081374
Строительство и ремонт     Нивелиры и лазерные уровни        2.081163
Электроника                Защитные пленки и стекла          2.080769
Одежда, обувь и аксессуары Туфли                             2.025121
                           Сапоги                            2.004960

# Ручной поиск дубликатов
Дубликаты можно искать двумя способами.
- Способ 1. Во вводном курсе вы уже изучали метод duplicated(). В сочетании с методом sum() он возвращает количество дубликатов. Напомним, что если выполнить метод duplicated() без подсчёта суммы, на экране будут отображены все строки. Там, где есть дубликаты, будет значение True, где дубликата нет — False.
- Способ 2. Вызвать метод value_counts(), который анализирует столбец, выбирает каждое уникальное значение и подсчитывает частоту его встречаемости в списке. Применяют метод к объекту Series. Результат его работы – список пар «значение-частота», отсортированные по убыванию. Все дубликаты, которые встречаются чаще других, оказываются в начале списка.

1. Посчитайте количество дубликатов в столбце 'item', вызвав методы duplicated() и sum().
Распечатайте на экране результаты вычислений в следующем виде:
Дубликатов в таблице: ...

In [180]:
stock = pd.read_excel('stock.xlsx', sheet_name='storehouse')
print ('Дубликатов в таблице:', stock['item'].duplicated().sum())

Дубликатов в таблице: 3

2.
Примените метод value_counts() к столбцу 'item'. Результат выведите на экран.

In [182]:
print(stock['item'].value_counts())

Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Apple iPhone Xr 64GB       1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Honor 8X 64GB              1
Name: item, dtype: int64

3. Начните собирать данные для новой таблицы уже без дубликатов. Посчитайте количество телефонов марки Xiaomi Redmi на складе и сохраните его в переменной xiaomi. Результат выведите на экран.

In [183]:
xiaomi = stock[stock['item'] == 'Смартфон Xiaomi Redmi 6A 16GB']['count'].sum()
print(xiaomi)

44

4. 
Найдите количество смартфонов HUAWEI и сохраните его в переменной huawei. Закомментируйте вывод предыдущей задачи и выведите результат на экран.

In [184]:
huawei = stock[stock['item'] == 'Смартфон HUAWEI P30 lite']['count'].sum()
print(huawei)

38

5.
Удалите дубликаты из столбца item, «перезаписав» его.
Выведите на экран всю таблицу. Закомментируйте вывод из предыдущей задачи.

In [185]:
stock['item'] = stock['item'].drop_duplicates()
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929                               NaN     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998                               NaN     33
8  100481008                               NaN      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

6.
Удалите пропуски из таблицы методом dropna() и восстановите индексы методом reset_index() c параметром drop, равным True. Выведите на экран таблицу.

In [186]:
stock['item'] = stock['item'].drop_duplicates()
stock = stock.dropna().reset_index(drop = True)
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

7. 
Замените количество телефонов Xiaomi — значение в столбце 'count' — на переменную xiaomi. Напомним, что в этой переменной вы сохранили число смартфонов Xiaomi. Выведите таблицу на экран и изучите результат.

In [187]:
xiaomi = stock.loc[0, 'count'] = xiaomi
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

8.
Замените количество телефонов Huawei в таблице — значение в столбце 'count' — на переменную huawei. Распечатайте таблицу stock на экране.

In [189]:
huawei = stock.loc[3, 'count'] = huawei
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

# Стемминг
 Процесс нахождения основы для заданного слова называется стемминг. В Python для стемминга есть специальная библиотека NLTK.
Импортируем стеммер для русского языка:
# Передаём стеммеру как аргумент значение 'russian', чтобы включить лингвистический анализ именно русского языка
from nltk.stem import SnowballStemmer 
russian_stemmer = SnowballStemmer('russian')  
Исходный список слов с комбинацией букв «мух» сохраним в переменной words:
words = ["муха", "мухи", "муху", "мух", "мухами", "мухаммед"] 
Для каждого элемента списка напечатаем исходное слово и его основу, выявленную стеммингом:
#обратите внимание на оформление запятой во второй части предложения
for word in words:
    print ('Исходное слово - ' + word + ', после стемминга - ' + russian_stemmer.stem(word)) 
Исходное слово - муха, после стемминга - мух
Исходное слово - мухи, после стемминга - мух
Исходное слово - муху, после стемминга - мух
Исходное слово - мух, после стемминга - мух
Исходное слово - мухами, после стемминга - мух
Исходное слово - мухаммед, после стемминга - мухаммед

1.
Вернитесь к смартфонам и проанализируйте поисковые запросы пользователей.
Напишите цикл, который выводит только запросы, содержащие набор букв «эпл». Внимательно просмотрите полученный список и найдите лишние слова.

In [191]:
from nltk.stem import SnowballStemmer
russian_stemmer = SnowballStemmer('russian')

queries = ["эпл айфоны", 
           "купить эпл телефон", 
           "лучшие смартфоны", 
           "барон фон", 
           "смартфон эпл айфон", 
           "смартфоны 2019", 
           "эплан", 
           "фоновая музыка", 
           "эпл айфоны икс", 
           "эпл айфон 64гб",
           "фон для фото",
           "купить эпл",
           "эпл айфон купить",
           "эплеренон купить", 
           "смартфон где купить", 
           "эплан показания", 
           "смартфон huawei",
           "эпл"]
for query in queries:
    if 'эпл' in query:
        print(query)

ModuleNotFoundError: No module named 'nltk'


2. Проведите стемминг в списке words. Результат выведите на экран в следующем виде:
Исходное слово - ..., после стемминга - ...

In [192]:
from nltk.stem import SnowballStemmer 
russian_stemmer = SnowballStemmer('russian')
words = ["эпл", "эплан", "эплеренон"]
#обратите внимание на оформление запятой во второй части предложения
for word in words:
    print ('Исходное слово - ' + word + ', после стемминга - ' + russian_stemmer.stem(word))

ModuleNotFoundError: No module named 'nltk'

3. Сформируйте список запросов с «эпл».

In [194]:
from nltk.stem import SnowballStemmer 
russian_stemmer = SnowballStemmer('russian')

queries = ["эпл айфоны", 
           "купить эпл телефон", 
           "лучшие смартфоны", 
           "барон фон", 
           "смартфон эпл айфон", 
           "смартфоны 2019", 
           "эплан", 
           "фоновая музыка", 
           "эпл айфоны икс", 
           "эпл айфон 64гб",
           "фон для фото",
           "купить эпл",
           "эпл айфон купить",
           "эплеренон купить", 
           "смартфон где купить", 
           "эплан показания", 
           "смартфон huawei",
           "эпл"]
for query in queries:
    for word in query.split(' '):
        stemmed_word = russian_stemmer.stem(word)
        if stemmed_word == 'эпл':
            print(query)

ModuleNotFoundError: No module named 'nltk'

# Лемматизация. Библиотека PyMystem.
Более продвинутый процесс — лемматизация, или приведение слова к его словарной форме (лемме).
Одна из библиотек с функцией лемматизации на русском языке — pymystem3, разработана сотрудниками Яндекса. Посмотрим, как она работает:
# pymystem3 импортируется так:
from pymystem3 import Mystem
m = Mystem() 
Лемматизируем стихотворение Даниила Хармса:
text = """
Легкомысленные речи за столом произносив, 
я сидел, раскинув плечи, неподвижен и красив.
"""

lemmas = m.lemmatize(text)
print(lemmas)

1. Прочитайте файл с отзывами, расположенный по адресу: /datasets/feedback.csv. Сохраните таблицу в переменной feedback и выведите её на экран.

In [196]:
feedback = pd.read_csv('feedback.csv')
print(feedback)

                                                text
0  Супер экран Супер звук, он реально очень хорош...
1  - Огромный качественный экран Запаса производи...
2  - Face ID - бесит, хоть и работает достаточно ...

2.
Лемматизируйте слова во втором отзыве и сохраните результат в переменной lemmas. Выведите слова на экран.
Не забудьте импортировать библиотеку pymystem3.

In [197]:
from pymystem3 import Mystem
m = Mystem() 
lemmas = m.lemmatize(feedback['text'][1])
print(lemmas)

ModuleNotFoundError: No module named 'pymystem3'

3.
Посчитайте, сколько раз каждое слово употребляется во втором отзыве. Закомментируйте вывод предыдущей задачи и выведите результат на экран.

In [198]:
lemmas = m.lemmatize(feedback['text'][1])
print(Counter(lemmas))

NameError: name 'm' is not defined

4.
Лемматизируйте слова третьего отзыва и сохраните результат в переменной lemmas. Выведите слова на экран.
Не забудьте импортировать библиотеку pymystem3.

In [199]:
lemmas = m.lemmatize(feedback['text'][2])
print(lemmas)

NameError: name 'm' is not defined

5.
Посчитайте, сколько раз каждое слово употребляется в третьем отзыве. Закомментируйте вывод предыдущей задачи и выведите результат на экран.

In [200]:
lemmas = m.lemmatize(feedback['text'][2])
#print(lemmas)
print(Counter(lemmas))

NameError: name 'm' is not defined

# Знакомство с данными
Важно уметь не только привлекать клиентов, но и удерживать их.
Вы уже анализировали поисковую выдачу товаров Яндекс.Маркета, сравнивали источники трафика и избавлялись от дубликатов в ассортименте — всё это направлено на улучшение маркетинга. Однако не менее важны усилия по поддержке пользователей.
Вам передали статистику обращений в службу поддержки Яндекс.Маркета: id каждого пользователя с темой и временем обращения.
Ваша задача — настроить приоритизацию задач по каждому виду обращений. Сейчас непонятно, за решение каких проблем браться в первую очередь, а какие могут подождать. Такой формат загрузки службы поддержки не повышает качество сервиса.

1.
Прочитайте файл с отзывами, размещённый по адресу: /datasets/support.csv
Сохраните таблицу в переменной support. Выведите первые 10 строк.
Путь к файлу: /datasets/support.csv

In [201]:
support = pd.read_csv('support.csv')
print(support.head(10))

    user_id                Тип обращения  type_id      Время обращения
0  DNcd8dnS   Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs                Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C                Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1   Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK             Накрутка отзывов        2  2019-03-13 14:43:14
5  zvN8W1tc         Жалоба на видеообзор        8  2019-03-29 20:32:17
6  bBmybSbr             Не работает сайт        1  2019-04-08 21:37:15
7  5JX1P5G8  Продажа запрещенных товаров        6  2019-04-06 12:15:20
8  pbbG3xWx             Не работает сайт        1  2019-04-09 17:30:43
9  vZWtTovT   Жалоба на товар в магазине        3  2019-04-16 12:26:16

2.
Просмотрите общую информацию о наборе данных.

In [202]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          3000 non-null   object
 1   Тип обращения    3000 non-null   object
 2   type_id          3000 non-null   int64
 3   Время обращения  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

3.
Замените названия столбцов методом set_axis():
- Тип обращения поменяйте на type_message;
- Время обращения — на timestamp.
- Столбцы user_id и type_id оставьте без изменений.
Проверьте успешность замены методом info().

In [203]:
support.set_axis(['user_id', 'type_message',  'type_id', 'timestamp'], axis='columns', inplace=True)
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       3000 non-null   object
 1   type_message  3000 non-null   object
 2   type_id       3000 non-null   int64
 3   timestamp     3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

# Классификация по типу
Типы обращений в поддержку хранятся в виде строк разной длины. К чему приводит такой способ хранения?
- Усложняется визуальная работа с таблицей;
- Увеличивается размер файла и время обработки данных;
- Чтобы отфильтровать данные по типу обращения, приходится набирать его полное название (а в нём можно допустить ошибки);
- Создание новых категорий и изменение старых отнимает много времени.
Предупредить появление этих проблем можно. Создадим отдельный «словарь», где названию категории будет соответствовать номер. И в будущих таблицах будем обращаться уже не к длинной строке, а к её числовому обозначению.

1.
Уточните, сколько раз встречается каждый тип обращений. Результат выведите на экран.

In [205]:
print(support['type_message'].value_counts())

Жалоба на товар в магазине      606
Мошенничество                   586
Продажа поддельной продукции    312
Не работает сайт                311
Продажа запрещенных товаров     303
Накрутка отзывов                302
Жалоба на видеообзор            297
Отзыв удалён                    283
Name: type_message, dtype: int64

2. Создайте новую таблицу support_log.
Из таблицы support перенесите следующие столбцы: 'user_id', 'type_id', 'timestamp'. 
    Первые 10 строк support_log напечатайте на экране.

In [206]:
support_log = support[['user_id', 'type_id', 'timestamp']]
print(support_log.head(10))

    user_id  type_id            timestamp
0  DNcd8dnS        3  2019-03-28 13:58:24
1  0e9MvwGs        5  2019-03-08 17:11:59
2  boyDUG4C        5  2019-03-03 17:52:34
3  5jMA27s1        3  2019-03-16 15:18:21
4  wvtyctOK        2  2019-03-13 14:43:14
5  zvN8W1tc        8  2019-03-29 20:32:17
6  bBmybSbr        1  2019-04-08 21:37:15
7  5JX1P5G8        6  2019-04-06 12:15:20
8  pbbG3xWx        1  2019-04-09 17:30:43
9  vZWtTovT        3  2019-04-16 12:26:16

3.
Создайте новую таблицу support_dict. Из таблицы support перенесите следующие столбцы: 'type_message', 'type_id'. Первые 10 строк support_dict выведите на экран.

In [207]:
support_dict = support[['type_message', 'type_id']]
print(support_dict.head(10))

                  type_message  type_id
0   Жалоба на товар в магазине        3
1                Мошенничество        5
2                Мошенничество        5
3   Жалоба на товар в магазине        3
4             Накрутка отзывов        2
5         Жалоба на видеообзор        8
6             Не работает сайт        1
7  Продажа запрещенных товаров        6
8             Не работает сайт        1
9   Жалоба на товар в магазине        3

4.
Удалите дубликаты в таблице support_dict. Распечатайте её в порядке возрастания значений столбца 'type_id'. Вывод support_dict из предыдущего задания закомментируйте.

In [208]:
support_dict = support_dict.drop_duplicates().reset_index(drop=True)
print(support_dict.sort_values('type_id'))

                   type_message  type_id
4              Не работает сайт        1
2              Накрутка отзывов        2
0    Жалоба на товар в магазине        3
6  Продажа поддельной продукции        4
1                 Мошенничество        5
5   Продажа запрещенных товаров        6
7                  Отзыв удалён        7
3          Жалоба на видеообзор        8

# Классификация по возрастным группам
Работать с единичными отрывками и делать из них статистические выводы нельзя. Значит, нужно сгруппировать данные, чтобы численности каждой группы хватало для формулировки выводов.
Нужна категоризация — объединение данных в категории. Распределим клиентов так:
Клиенты младше 18 лет попадают в категорию «дети»;
Клиенты от 19 до 64 лет — категория «взрослые»;
Клиенты старше 65 лет принадлежат к категории «пенсионеры».
Запишем правила классификации клиентов как функции. В отличие от стандартных методов Pandas функции гибки: в них можно закладывать более сложную логику и добавлять новые требования. Тестировать функции подстановкой разных значений удобнее, чем применять методы Pandas ко всему датафрейму.

1.
Сгруппируйте данные по типу события и посчитайте количество событий. Сохраните группировку в переменной support_log_grouped и выведите её на экран.

In [209]:
support_log_grouped = support_log.groupby('type_id').count()
print(support_log_grouped)

         user_id  timestamp
type_id
1            311        311
2            302        302
3            606        606
4            312        312
5            586        586
6            303        303
7            283        283
8            297        297

2.
Напишите функцию alert_group(messages) , которая оценивает приоритет в зависимости от количества сообщений. Если параметр не более 300, она должна возвращать строку 'средний', если значение параметра от 301 до 500 включительно, тогда строку 'высокий'. Для более высоких значений должна возвращаться строка 'критичный'.
Проверьте, что ваша функция отвечает верно, когда ей передают числа 10, 450, 1000. Каждое значение выводите на новой строке.

In [211]:
support_log_grouped = support_log.groupby('type_id').count()

def alert_group(messages):
    if messages <= 300:
        return 'средний'
    elif 301 <= messages <= 500:
        return 'высокий'
    elif messages > 500 :
        return 'критичный'
    
print(alert_group(10))
print(alert_group(450))
print(alert_group(1000))

средний
высокий
критичный

3.
Добавьте таблице support_log_grouped столбец 'alert_group', где хранятся результаты применения вашей функции alert_group().
Закомментируйте результаты предыдущего задания. Посмотрите верхние 10 строк support_log_grouped: убедитесь, что функция правильно расставила приоритеты.

In [212]:
support_log_grouped['alert_group'] = support_log_grouped['user_id'].apply(alert_group)
print(support_log_grouped.head(10))

         user_id  timestamp alert_group
type_id
1            311        311     высокий
2            302        302     высокий
3            606        606   критичный
4            312        312     высокий
5            586        586   критичный
6            303        303     высокий
7            283        283     средний
8            297        297     средний

4.
Посчитайте количество обращений по каждому приоритету.

In [214]:
print(support_log_grouped.groupby('alert_group').sum())

             user_id  timestamp
alert_group
высокий         1228       1228
критичный       1192       1192
средний          580        580

# Функция для одной строки

1.
Прочитайте файл с отзывами, размещённый по адресу: /datasets/support_log_grouped.csv.
Результат выведите на экран.

In [216]:
support_log_grouped = pd.read_csv('support_log_grouped.csv')
print(support_log_grouped)

   type_id  user_id  timestamp alert_group  importance
0        1      311        311     высокий           1
1        2      302        302     высокий           0
2        3      606        606   критичный           0
3        4      312        312     высокий           1
4        5      586        586   критичный           1
5        6      303        303     высокий           1
6        7      283        283     средний           1
7        8      297        297     средний           0

2.
Напишите функцию alert_group_importance(row), работающую в соответствии со следующей логикой:
Если приоритет 'alert_group' средний, а важность 'importance' оценена в единицу, возвращать команду для отдела поддержки: 'обратить внимание';
Если приоритет высокий, а важность — единица, возвращать: 'высокий риск';
Если приоритет критичный, а важность — единица, возвращать: 'блокер';
Во всех остальных случаях выводить: 'в порядке очереди'.
Проверьте работоспособность функции для разных значений.
Чтобы тренажёр принял решение, оставьте в переменной row_values значение ['высокий', 1].

In [217]:
def alert_group_importance(row):
    if row['alert_group']  == 'средний':
        if row['importance'] == 1:
            return 'обратить внимание'
        
    if row['alert_group']  == 'высокий':
        if row['importance'] == 1:
            return 'высокий риск'
        
    if row['alert_group']  == 'критичный':
        if row['importance'] == 1:
            return 'блокер'
    return 'в порядке очереди'

row_values = ['высокий', 1]
row_columns = ['alert_group', 'importance']
row = pd.Series(data=row_values, index=row_columns) 
print(alert_group_importance(row))

высокий риск

3.
Создайте новый столбец 'importance_status' и сохраните в нём результаты работы функции alert_group_importance(). Результат выведите на экран.

In [218]:
support_log_grouped['importance_status'] = support_log_grouped.apply(alert_group_importance, axis=1)
print(support_log_grouped)

   type_id  user_id  timestamp alert_group  importance  importance_status
0        1      311        311     высокий           1       высокий риск
1        2      302        302     высокий           0  в порядке очереди
2        3      606        606   критичный           0  в порядке очереди
3        4      312        312     высокий           1       высокий риск
4        5      586        586   критичный           1             блокер
5        6      303        303     высокий           1       высокий риск
6        7      283        283     средний           1  обратить внимание
7        8      297        297     средний           0  в порядке очереди

4. Узнайте, сколько разных статусов в столбце 'importance_status'. Результат выведите на экран.

In [219]:
print(support_log_grouped['importance_status'].value_counts())

высокий риск         3
в порядке очереди    3
блокер               1
обратить внимание    1
Name: importance_status, dtype: int64

# Заключение
Завершая экскурс в мир ошибок экспериментов, повторим главные тезисы:
«Ошибка» — понятие субъективное. На деле, любой результат — это информация.
Системное мышление помогает осознать, что в данных есть проблемы, и быстро их найти.
Критическое мышление заставляет сомневаться, побуждая из возможных вариантов выбрать лучший.
Три этапа обработки своей ошибки: 1. признать её, 2. сформулировать, в чем проблема, 3. обратиться к тому, от кого зависит решение.
На работе это коллега или руководитель, а на нашей программе — преподаватель или куратор. Пишите преподавателю в канал #exerciser, а куратору лично. Вас не оставят в беде.